@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.line, body main h3::after {
  margin: 5px 0;
  display: block;
  content: "";
  height: 3px;
  width: 80px;
  background-color: #9c7a97; }

body {
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
  font-size: 16px;
  display: flex;
  flex-wrap: wrap; }
  body aside {
    flex: 0 0 35%;
    background-image: linear-gradient(rgba(48, 54, 51, 0.9), rgba(156, 122, 151, 0.9)), url(img/bg.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-right: 40px; }
    @media (max-width: 768px) {
      body aside {
        flex: 0 0 100%;
        text-align: center;
        align-items: center;
        padding: 0;
        height: 80vh; } }
    body aside h4 {
      color: white;
      font-weight: 400;
      letter-spacing: 1.4px; }
      body aside h4 span {
        color: #8bebcd;
        font-style: italic;
        font-weight: 700; }
    body aside .social {
      margin-top: 20px; }
      body aside .social a {
        text-decoration: none;
        color: #8bebcd;
        padding: 0 5px;
        font-size: 1.6rem; }
        body aside .social a:hover {
          transition: .3 ease;
          color: white; }
  body main {
    flex: 0 0 65%;
    height: 100vh;
    padding: 20px 30px;
    overflow: scroll;
   }
    @media (max-width: 768px) {
      body main {
        flex: 0 0 100%; } }
    body main h3 {
      font-size: 2rem; }
    body main p {
      margin-top: 20px; }
    body main .workeducation {
      display: flex;
      padding: 20px 0;
      justify-content: space-between;
      flex-wrap: wrap; }
      body main .workeducation .work {
        flex: 0 0 60%; }
        @media (max-width: 768px) {
          body main .workeducation .work {
            flex: 0 0 100%; } }
      body main .workeducation .education {
        flex: 0 0 35%; }
        @media (max-width: 768px) {
          body main .workeducation .education {
            flex: 0 0 100%; } }
    body main .skils ul {
      list-style-type: none;
      display: flex;
      padding: 10px 0; }
      body main .skils ul li {
        padding: 0 10px;
        font-size: 2rem;
        color: #9c7a97; }
        body main .skils ul li:hover {
          color: #8bebcd;
          transition: .3 ease; }
    body main .interest {
      padding: 20px 0;
      display: grid;
      width: 100%;
      height: 60%;
      grid-template-columns: 30% 20% 20% 30%;
      grid-template-rows: 50% 50%; }
      body main .interest article:first-child {
        grid-area: 1/1/3/2;
        background-image: url(img/fifa.jpg);
        background-position: center;
        background-size: cover; }
        body main .interest article:first-child:hover {
          transform: scale(0.9); 
          transition-duration: 0.9s;
        }
      body main .interest article:nth-child(2) {
        grid-area: 1/2/2/4;
        background-image: url(img/music.jpg);
        background-position: center;
        background-size: cover; }
        body main .interest article:nth-child(2):hover {
          transform: scale(0.9); 
          transition-duration: 0.9s; 
        }
      body main .interest article:nth-child(3) {
        grid-area: 2/2/3/4;
        background-image: url(img/cooking.jpg);
        background-position: center;
        background-size: cover; }
        body main .interest article:nth-child(3):hover {
          transform: scale(0.9); 
          transition-duration: 0.9s;
        }
      body main .interest article:nth-child(4) {
        grid-area: 1/4/3/5;
        background-image: url(img/ches.jpg);
        background-position: center;
        background-size: cover; }
        body main .interest article:nth-child(4):hover {
          transform: scale(0.9); 
          transition-duration: 0.9s;
        }
    body main .projects {
      padding: 20px 0px; }

/*# sourceMappingURL=style.css.map */
