/*---------------------------
EXTERNAL FILES 
----------------------------*/ 
@import 'mixins.scss';
@import 'variables.scss';


/*---------------------------
GOOGLE FONTS
----------------------------*/ 
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900|Raleway:400,700');


/*---------------------------
DEFAULT STYLES
----------------------------*/ 
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body{
    line-height: 1.6;
    font-family: 'Montserrat', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Raleway', sans-serif;
}

.container{
    width: 90%;
    margin: auto;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    &:hover{
        transition: $transition;
    }
}

h4::after{
    
    display: block;
    content: "";
    height: 2px;
    background: $pink;
    width: 200px;
    border: none;
    margin: 20px 0px;

}



/*---------------------------
HEADER
----------------------------*/ 
header{
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('../img/header.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;

    nav{
        padding: 30px 0px;
        @include flex(space-between, center, row, wrap);
        @media(max-width:768px){
            flex-direction: column;
        }

        ul{
         @include flex(center, center, row, nowrap);
        
            li{
                padding: 0px 20px;
                @media(max-width:768px){
                    padding: 0px 5px;
                }

                a{
                    color: $white;
                    text-transform: uppercase;
                    &:hover{
                        color: $gray;
                        transition: $transition;
                    }
                    @media(max-width:768px){
                        font-size: 1rem;
                    }
                }
            }
        }

        button{
            @include btn;
            margin-top: 0px;
            @media(max-width:768px){
                margin-top: 10px;
            }
        }
    }

    hgroup{
        @include flex (space-between, center, row, wrap);

       article{

            &:first-child{
             
                @include flex (center, flex-start, column, nowrap);
                height: 80vh;
                color: $white;
        
                h1{
                    font-size: 3rem;
                    font-weight: 300;
                    letter-spacing: 2px;
                    @media(max-width:768px){
                        font-size: 2rem;
                    }
        
                    span{
                        font-weight: 700;
                    }
                }
        
                 h3{
                    font-style: italic;
                    font-size: 1.5rem;
                    @media(max-width:768px){
                        font-size: 1rem;
                    }
                 }

                 button{
                     @include btn;
                 }

            }

            &:last-child{
               
                @include flex(center, center, column, nowrap);
        
                a{
                    color: $white;
                    padding: 10px 0px;
                    font-size: 1.4rem;
                    &:hover{
                        color: $gray;
                        transition: $transition;
                    }
                }   
            }
       }
    }
}

/*---------------------------
ABOUT
----------------------------*/ 
.about{
    padding: $padding;

    .container{
        @include flex(space-between, center, row, wrap);

        article{
            flex: 0 0 45%;
            @media(max-width:768px){
                flex: 0 0 100%;
            }

            &:first-child{

                h2{
                    font-size: 3rem;
                    @media(max-width:768px){
                        font-size: 2rem;
                    }
                }

                h4{
                    font-size: 1.5rem;
                    @media(max-width:768px){
                        font-size: 1.3rem;
                    }
                }

                p{
                    text-align: justify;
                }
            }
        }
    }

    .counter{
        border-bottom: 1px solid $gray;
        border-top: 1px solid $gray;
        padding: $padding;

        .container{
            @include flex(space-between, center, row, wrap);
            text-align: center;

            article{
                flex:0 0 23%;
                @media(max-width:768px){
                    flex: 0 0 50%;
                }

                h5{
                    font-size: 3rem;
                    @media(max-width:768px){
                        font-size: 1.7rem;
                    }
                }

                hr{
                    margin: 10px auto;
                    width: 80px;
                    height: 2px;
                    background-color: $gray;
                }

                P{
                    text-align: center;
                    font-weight: bolder;
                }
            }
        }
    }
}

/*---------------------
SKILLS
----------------------*/
.skills{
    padding: $padding;

    h2{
        font-size: 3rem;
        @media(max-width:768px){
            font-size: 2rem;
        }
    }

    h4{
        font-size: 1.5rem;
        @media(max-width:768px){
            font-size: 1.3rem;
        }
    }

    .row{
        @include flex(space-between, center, row, wrap);

        article{
            flex: 0 0 20%;
            padding: 10px 0px;
            text-align: center;
            @media(max-width:768px){
                flex: 0 0 30%;
            }

            i{
                color: #012C6A;
                font-size: 3rem;
                &:hover{
                    transform: rotate(360deg);
                    transition-duration: .3s;
                }
                @media(max-width:768px){
                    font-size: 2rem;
                }
            }

            h5{
                font-size: 1.2rem;
                margin-top: 5px;
            }
        }
    }
}

/*----------------------
GALLERY
-----------------------*/
.gallery{
    padding: $padding;

    h2{
        font-size: 3rem;
        @media(max-width:768px){
            font-size: 2rem;
        }
    }

    h4{
        font-size: 1.5rem;
        @media(max-width:768px){
            font-size: 1.3rem;
        }
    }

    .row{
        @include flex(space-between, center, row, wrap);
  
        article{
            flex: 0 0 30%;
            position: relative;
            margin-top: 20px;
            @media(max-width:768px){
                flex: 0 0 100%;
            }

            img{
                width: 100%;
                height: auto;
               &:hover{
                   transform: scale(1.1);
                   transition-duration: 0.8s;
               }
            }

            .holder{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                background-color: $pink;
                color: $white;
                padding: 15px;
                font-weight: bolder;
            }
        }
    }
}


/*----------------------
FOOTER
-----------------------*/
footer{
    padding: $padding;
    background-color: $lightgray;

    .container{
        @include flex(space-between, center, row, wrap);

        article{
            flex: 0 0 50%;
            text-align: center;
            @media(max-width:768px){
                flex: 0 0 100%;
            }

            i{
                color: $pink;
                margin: 0px 5px;
                font-size: 1.3rem;
                border: 1px solid $gray;
                border-radius: 30px;
                padding: 15px;
                &:hover{
                    color: $gray;
                    transition: $transition;
                }
                @media(max-width:768px){
                    margin: 10px 0px;
                }
            }
        }
    }
}